main {
    font-family: 'Fira Sans', sans-serif;

}



.dropdown{
    position: absolute;
    top:24%;
    left: 10%;
    background: none;
    transform: translate(-50%, -50%);
    width: 123px;
    line-height: 33px;
    padding: 8px 25px;
    border-radius: 5px;
    z-index: 0; 

}
.dropdown label{
    color: rgb(0, 0, 0);
    font-size:16px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}
.button span{
    float: right;
    line-height: 35px;
}
.dropdown ul{
    position: absolute;
    background-color: rgb(255, 247, 247);
    list-style: none;
    top: 70px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}
[id^=btn]:checked + ul{
    display: block ;
  
}

.chick{
    display: none;
}
.dropdown ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
   
}

.dropdown ul li a{
    color:black;
    text-decoration: none;
    font-size:18px ;
    display: block ;
}
.dropdown ul li a:hover{
    color: cyan;
}






.navbar {
    background-color: aliceblue;
    height: 50px;
}

.navbar ul {
    margin: 0 248px;
}

.navbar li {
    display: inline-block;
    padding: 17px 20px;
    cursor: pointer;

}



.navbar ul li:hover {
    color: cyan;
}






.image img {
    border-radius: 5px;
    margin-top: 157px;
    margin-left: 35px;
    margin-bottom: 35px;
}


h1 {
    margin: 0px 0px 33px 31px;
    cursor: pointer;

}



.item p {
    padding: 25px;
    cursor: pointer;

}

.item h3 {

    cursor: pointer;
    padding-left: 25px;
}

.crad1 {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.box1 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;
}

.box1>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;

}

.box2 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;

}

.box2>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;

}

.box3 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;

}

.box3>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box4 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;

}

.box4>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.crad2 {
    display: flex;
    justify-content: center;
    margin: 17px 0;

}

.box5 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;



}

.box5>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box6 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;


}

.box6>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box7 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;

}

.box7>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box8 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;

    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;


}

.box8>img {
    width: 100%;
    border: none;
    height: 180px;

    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;

}

.crad3 {
    display: flex;
    justify-content: center;
    margin: 5px 0;

}

.box9 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;


}

.box9>img {
    width: 100%;
    border: none;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box10 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;



}

.box10>img {
    width: 100%;
    border: none;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;

}

.box11 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;

}

.box11>img {
    width: 100%;
    border: none;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.box12 {
    width: 22%;
    height: 300px;

    border: 1px solid gray;
    display: inline-block;
    margin: 0 8px;
    border-radius: 12px;
   


}

.box12>img {
    width: 100%;
    border: none;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 28px;
}

.last img{
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid gray;
}



















